In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
# pandas is a powerful data manipulation and analysis library for Python. It provides data structures like Series and DataFrame, which are essential for handling structured data efficiently.

In [2]:
import pandas as pd

In [3]:
pd.__version__  # This will display the version of pandas installed

'2.2.2'

In [4]:
# data structures in pandas
# 1. Series: A one-dimensional labeled array capable of holding any data type.
# 2. DataFrame: A two-dimensional labeled data structure with columns of potentially different types

# Creating a Series
s = pd.Series([1, 2, 3, 4, 5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
type(s)  # This will show that s is a pandas Series

pandas.core.series.Series

In [7]:
s1 = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print(s1)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
s3 = pd.Series([90,97,66,61], index = ["Ashmit","chandu", "Anchit","vikram"])
print(s3)

Ashmit    90
chandu    97
Anchit    66
vikram    61
dtype: int64

In [9]:
s3['vikram']  # Accessing a specific element by index

61

In [10]:
# using nan
s4 = pd.Series([1, 2, None, 4, 5])
print(s4)

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [12]:
# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

In [19]:
df = pd.DataFrame(data)  # This will create a DataFrame from the dictionary
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [16]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [17]:
df.columns  # This will show the column names of the DataFrame

Index(['Name', 'Age', 'City'], dtype='object')

In [20]:
# Every Series and DataFrame has an Index â€” it helps with:

# Fast lookups
# Aligning data
# Merging & joining
# Time series operations

In [21]:
import numpy as np

In [22]:
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [23]:
df2 = pd.DataFrame(arr, columns = ["A", "B", "C"])

In [24]:
df2

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9